body{
    background-image: url(C:/Users/Compaq/Downloads/image9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
h1{
    color: black;
    margin-bottom:-25px;
    margin-top: auto;
    text-align:center;
    font-size: 30px;
}
#name{
font-style:Impact, Charcoal, sans-serif;
font-size: 20px;
text-decoration: none;
    text-align:left;
color:darkgreen;
text-shadow: 1px 1px 3px;
padding: 20px;
margin-left:30px;
}
#lname{
    font-style:Impact, Charcoal, sans-serif;
    font-size:20px;
    text-decoration: none;
text-align: left;

    color:darkgreen;
    text-shadow:1px 1px 3px;
    padding:20px;
    margin-left: 30px;
}
#gender{
    font-style:Impact, Charcoal, sans-serif;
    height:30px;
    text-decoration: none;
    text-align:left;
    margin-top:20px;
    margin-right:auto;
    margin-left:40px;
    
}
#land{
    font-size:15px;
    text-decoration: none;
    color:darkgreen;
    text-align:left;
    margin-top: 25px;
    margin-left:40px;
    font-style:Impact, Charcoal, sans-serif;
    
}
lfield{
    margin-left:40px;
    padding:30px 20px 20px;
    text-align:left;
}
.square{
    width:650px;
    height:650px;
    background-color:antiquewhite;
    margin-left:auto;
    margin-right:auto;
    margin-top:35px;
    border-radius:20px;
    border:2px solid darkgreen;
}
#ffield{
    margin-left: 30px;
}
#afield{
    margin-left:30px;
}
#field{
    margin-left:-10px;
    margin-top:20px;
    width:350px;
    height:95px;
    
}
#specify{
    margin-left: 40px;
    padding-top: 20px;
    font-style:Impact, Charcoal, sans-serif;
    color:darkgreen;
}
.lsquare{
    background-color:greenyellow;
    margin-top:-410px;
    margin-left:450px;
    width:80px;
    height:20px;
    
    
    text-align:center;
    border-radius:10px;
}
#crops{
    margin-top:450px;
    margin-left: 40px;
    font-size:15px;
}

#cropname{
    color:darkgreen;
    font-style:Impact, Charcoal, sans-serif;
    margin-left:40px;
    margin-top:20px;
}
#cfield{
    margin-top: 20px;
    margin-left: 20px;
}
#para{
    margin-top:20px;
    margin-left: 40px;
    font-style: Impact, Charcoal, sans-serif;
    color:black;
}
#but{
    margin-right:250px;
    margin-left:250px;
    background-color: greenyellow;
    font-size: 20px;
    font-style:Impact, Charcoal, sans-serif;
}